
        <div layout="column" layout-align="center center" style="margin-bottom: 25px; background: linear-gradient(169deg,#045e9e 40%,#73c2fb 100%);">
            <p style="font-size: 50px;
          font-weight:200;color: white;">
                Wynik
            </p>
            <p style="font-size: 15px;
          font-weight:200;color: white;">
                Wynik....polish for score.
            </p>


            <md-button class="md-raised md-primary md-hue-1"
            ng-show="!authenticated" ng-click="signIn('google')">
                Sign In with Google
            </md-button>
            <md-button class="md-raised md-primary md-hue-1" ng-show="!authenticated" ng-click="signIn('twitter')">
                Sign In with Twitter
            </md-button>


            <p ng-show="!authenticated" style="color: white; font-size: 15px;
          font-weight:200;">
                Sign in to score games.
            </p>

        </div>

        <div layout="row" layout-align="center center">
            <div class="analyticsBubble">
                <span class="title">Pending</span>
                <span class="value">{{count('0')}}</span>
            </div>
            <div class="analyticsBubble">
                <span class="title">In Progress</span>
                <span class="value">{{count('1')}}</span>
            </div>
            <div class="analyticsBubble">
                <span class="title">Final</span>
                <span class="value">{{count('2')}}</span>
            </div>
    
        </div>
