
        <div layout="column" layout-align="center center"
         style="padding-bottom: 225px; background: linear-gradient(169deg,#045e9e 40%,#73c2fb 100%);">
            <p style="font-size: 50px;">
                Wynik
            </p>
            <p>
                Wynik....polish for score.
            </p>

            <md-button class="md-raised" ng-href="#/scoreboard">
               View the scoreboard!
            </md-button>
            <p ng-show="!authenticated">
                Sign in to score games.
            </p>



            <md-button class="md-raised"
            ng-show="!authenticated" ng-click="signIn('facebook')">
                Sign In with Facebook
            </md-button>

            <md-button class="md-raised"
            ng-show="!authenticated" ng-click="signIn('google')">
                Sign In with Google
            </md-button>
            <md-button class="md-raised" ng-show="!authenticated" ng-click="signIn('twitter')">
                Sign In with Twitter
            </md-button>


            <p>
                Current scoreboard status:
            </p>

            <div layout="row" layout-align="center center">
                <div class="analyticsBubble">
                    <span class="title">Pending</span>
                    <span class="value">{{count('0')}}</span>
                </div>
                <div class="analyticsBubble">
                    <span class="title">In Progress</span>
                    <span class="value">{{count('1')}}</span>
                </div>
                <div class="analyticsBubble">
                    <span class="title">Final</span>
                    <span class="value">{{count('2')}}</span>
                </div>

            </div>



        </div>
