

<md-input-container flex>
    <label>Search</label>
    <input ng-model="search.$" type="text"/>

</md-input-container>



        <div ng-repeat="set in match | filter:search:strict">

            <md-card>
                <div class="md-actions md-actions-header"  layout="row" layout-align="space-between center">
                    <span class="label" ng-show="set.status ==2">Final</span>
                    <span class="label" ng-show="set.status ==1">In progress</span>
                    <span class="label" ng-show="set.status ==0">Pending</span>

                    <!-- <span class="scorecard-label">{{set.date | date:'medium'}}</span> -->
                    <span class="label">{{set.description}}</span>

                </div>

                <md-card-content>

                    <div layout-gt-sm="row">
                        <h2 class="md-title">{{set.homeScore}}-{{set.visitorScore}}</h2>


                        <md-input-container flex>
                            <label>Home</label>
                            <input
                            maxlength ="25"
                            ng-model="set.teamHome"
                            ng-change="match.$save(set)"
                            ng-model-options="{updateOn: 'blur'}"
                            ng-readonly="!authenticated  || set.author !== authenticatedDisplayName" type="text" />
                        </md-input-container>

                        <md-input-container flex>
                            <label>Visitor</label>
                            <input
                            maxlength ="25"
                            ng-model="set.teamVisitor"
                            ng-change="match.$save(set)"
                            ng-maxlength="25"
                            ng-model-options="{updateOn: 'blur'}"
                            ng-readonly="!authenticated  || set.author !== authenticatedDisplayName" type="text" />
                        </md-input-container>


                        <md-input-container flex>
                            <label>Scorekeeper</label>
                            <input ng-model="set.author" type="text" ng-readonly="true" />
                        </md-input-container>


                      <md-input-container>
                        <md-select

                        ng-show="authenticated"
                        ng-change="match.$save(set)"
                        ng-model-options="{updateOn: 'blur'}"
                        ng-disabled="!authenticated  || set.author !== authenticatedDisplayName"
                        ng-model="set.status">


                           <md-option ng-value="s.key" ng-repeat="s in statuses">{{ s.description }}</md-option>

                        </md-select>


                      </md-input-container>

                        <md-input-container flex ng-show="authenticated">
                          <label>Description</label>
                              <input ng-model="set.description"
                            ng-change="match.$save(set)"
                            ng-model-options="{updateOn: 'blur'}"
                            ng-readonly="!authenticated  || set.author !== authenticatedDisplayName"
                            type="text"
                            md-maxlength="25" />


                        </md-input-container>

                    </div>


                     <md-grid-list  ng-show="set.showScore" md-cols-sm="1" md-gutter-gt-sm="8px" md-cols-md="2" md-row-height-gt-md="1:1" md-row-height="1:1" md-cols-gt-md="2" md-gutter="12px">

                        <md-grid-tile>

                          <div ng-show="set.timeout" class="overlay">
                           </div>

                            <md-grid-tile-header style="background: rgba(96, 176, 235, 1);">
                                <h3 ng-bind="set.teamVisitor"></h3>
                            </md-grid-tile-header>
                            <span ng-show="!authenticated" class="link-digit">{{set.visitorScore}}</span>
                            <a ng-show="authenticated" class="link-digit" ng-click="set.visitorScore = set.visitorScore + 1; match.$save(set);">{{set.visitorScore}}</a>

                            <md-button ng-disabled="!authenticated"
                            class="md-default-theme md-accent md-fab md-fab-bottom-left"
                            ng-click="set.visitorScore = set.visitorScore -1; match.$save(set);"
                            ng-show="set.visitorScore>0">-</md-button>
                        </md-grid-tile>

                        <md-grid-tile>

                          <div ng-show="set.timeout" class="overlay">
                           </div>

                            <md-grid-tile-header style="background: rgba(96, 176, 235, 1);">
                              <h3 ng-bind="set.teamHome"></h3>
                            </md-grid-tile-header>
                            <span ng-show="!authenticated" class="link-digit">{{set.homeScore}}</span>

                            <a class="link-digit" ng-show="authenticated" ng-click="set.homeScore = set.homeScore +1; match.$save(set);">{{set.homeScore}}</a>
                            <md-button ng-disabled="!authenticated"
                            class="md-default-theme md-accent md-fab md-fab-bottom-left"
                            ng-click="set.homeScore = set.homeScore-1;match.$save(set);"
                            ng-show="set.homeScore>0">-</md-button>


                          </md-grid-tile>
                    </md-grid-list>





                    <div ng-show="authenticated" class="md-actions" layout="column"
                    layout-align="center center">

                      <md-switch
                        ng-show="set.showScore"
                        ng-model="set.timeout"
                        ng-change="match.$save(set);"
                        aria-label="Timeout">Timeout
                      </md-switch>

                        <md-button class="md-primary md-raised"
                          ng-disabled="!authenticated ||
                          set.uid !== authData.uid"
                          ng-click="set.showScore = !set.showScore;match.$save(set);">

                          <span ng-if="set.showScore">
                              Close Scoreboard
                          </span>
                          <span ng-if="!set.showScore">
                              Open Scoreboard
                          </span>

                        </md-button>

                        <md-button class="md-raised md-warn"
                           ng-disabled="!authenticated || set.uid !== authData.uid"
                           ng-click="delete($event,set);">Delete
                        </md-button>


                        <md-button class="md-raised"
                           ng-disabled="!authenticated || set.uid !== authData.uid"
                           ng-click="copy(set);">Copy
                        </md-button>

                    </div>

                </md-card-content>
            </md-card>
        </div>

        <md-button class="md-default-theme md-primary md-fab md-fab-top-right"
          ng-show="authenticated"
          ng-click="compose()">
          New
        </md-button>
