<div layout="column" layout-align="center center" style="padding-bottom: 225px; background: linear-gradient(169deg,#045e9e 40%,#73c2fb 100%);">
    <p style="font-size: 50px;">
        Wynik
    </p>
    <img src="/icons/volleyball.png"></img>
    <md-button class="md-raised" ng-href="/#!/scoreboard">
        View the scoreboard!
    </md-button>
    <p ng-show="!authenticated">
        Sign in to score games.
    </p>
    <div class="md-actions" layout="row" layout-sm="column" layout-md="column">
        <md-button class="md-raised" ng-show="!authenticated" ng-click="signIn('facebook')">
            Sign In with Facebook
        </md-button>
        <md-button class="md-raised" ng-show="!authenticated" ng-click="signIn('google')">
            Sign In with Google
        </md-button>
        <md-button class="md-raised" ng-show="!authenticated" ng-click="signIn('twitter')">
            Sign In with Twitter
        </md-button>
    </div>
    <p>
        Current scoreboard status:
    </p>
    <div layout="row" layout-align="center center">
        <div class="analyticsBubble">
            <a class="title" href="/#!/scoreboard/search/Pending">Pending</a>
            <span class="value">{{count('Pending')}}</span>
        </div>
        <div class="analyticsBubble">
            <a class="title" href="/#!/scoreboard/search/In Progress">In Progress</a>
            <span class="value">{{count('In Progress')}}</span>
        </div>
        <div class="analyticsBubble">
            <a class="title" href="/#!/scoreboard/search/Final">Final</a>
            <span class="value">{{count('Final')}}</span>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <p>
            Project built with <a href="http://www.firebase.com">Firebase</a> and <a href="http://www.angularjs.org">Angular JS</a> and
            <a href="https://material.angularjs.org/">Angular Material</a> and running on
            <a href="https://cloud.google.com/appengine/">Google's cloud platform</a>
        </p>
    </div>
    <div layout="row" layout-align="center center">
        <p>
            View on <a href="http://github.com/pnadolny/scaling-lana">GitHub</a>
        </p>
    </div>
    <div layout="row" layout-align="center center">
        <p>
            Wynik v<span app-version></span>
        </p>
    </div>
</div>
