<!doctype html>
<html lang="en" xmlns:ng="https://angularjs.org" ng-app="volleyballApp">

<head>
    <title>Score-laborate</title>

    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">


    <style>



        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
        .link-digit {
            padding-left: 50px;
            font-size: 850%;
            font-weight: bold;
			      color: #0B0B0B;
        }


    </style>
</head>

<body ng-cloak>

  <div layout="column" ng-controller="VolleyballController" layout-fill>


    <md-toolbar layout="row">
         <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Score-laborate</h1>
     </md-toolbar>

     <div layout="row">
         <md-button class="md-raised md-primary" ng-click="compose()" style="margin: 5px;">
                New Game
         </md-button>
      </div>



      <div ng-repeat="set in match">

              <md-card>
                        <md-card-content>

                          <div layout-gt-sm="row">
                              <h2 class="md-title">Game {{$index+1}}</h2>

                            <md-input-container flex>
                                    <label>Description</label>
                                    <input ng-model="set.description" ng-model-options="{updateOn: 'blur'}" type="text"/>
                            </md-input-container>
                          </div>

                            <md-grid-list md-cols-sm="2" md-cols-md="2" md-row-height-gt-md="1:1"

                            md-row-height="1:1" md-gutter-gt-sm="8px" md-cols-gt-md="2" md-gutter="12px">

                            <md-grid-tile md-rowspan="1" md-colspan="1">
                                <md-grid-tile-header>
                                    <h3> Visitor</h3>
                                </md-grid-tile-header>
                                    <a class="link-digit" ng-click="set.visitorScore = set.visitorScore + 1">{{set.visitorScore}}</a>
                                <md-button class="md-default-theme md-accent md-fab md-fab-bottom-left"
                                ng-click="set.visitorScore = set.visitorScore -1;" ng-show="set.visitorScore>0">-</md-button>
                            </md-grid-tile>

                                <md-grid-tile  md-rowspan="1" md-colspan="1">
                                    <md-grid-tile-header>
                                        <h3>Home</h3>
                                    </md-grid-tile-header>
                                    <a class="link-digit" ng-click="set.homeScore = set.homeScore +1;">{{set.homeScore}}</a>
                                    <md-button class="md-default-theme md-accent md-fab md-fab-bottom-left"
                                      ng-click="set.homeScore = set.homeScore-1;" ng-show="set.homeScore>0">-</md-button>
                                </md-grid-tile>


                            </md-grid-list>

                            <md-divider></md-divider>
                            <div layout="row" layout-align="start center">
                              <md-button class="md-raised md-warn" style="margin: 5px;"
                                ng-click="delete($event,set);">Delete
                              </md-button>
                           </div>

                        </md-card-content>
                </md-card>





        </div>
        <!-- repeat -->





    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-route.min.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <!-- Material -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>


    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>

</html>
