<!doctype html>
<html lang="en" xmlns:ng="https://angularjs.org" ng-app="wynikApp">

<head>
    <title>Wynik</title>

    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />


    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/wynik.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }



    </style>

</head>

<body layout="row" ng-cloak ng-controller="WynikController">


  <md-sidenav layout="column"
  class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
   md-is-locked-open="$mdMedia('gt-md')" layout-fill >

   <md-toolbar class="md-medium" >
     <div class="md-toolbar-tools">

        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <div>{{authenticatedDisplayName}}</div>

        </div>
      </div>

      </md-toolbar>



    <md-button ng-click="showHome()">
        Home
    </md-button>
    <md-divider></md-divider>
    <md-button ng-click="showScoreboard()">
       Scoreboard
    </md-button>
    <md-divider></md-divider>
    <md-button ng-show="authenticated" ng-click="signOut();">
        Sign out
    </md-button>
    <md-divider></md-divider>

</md-sidenav>



  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <button ng-click="toggleSidenav('left')" hide-gt-sm class="sidebarButton">
                  <div class="md-ripple-container"></div>
                </button>
                <md-button ng-href="#/home" style="text-transform: none;">
                        Wynik
                </md-button>
                <span flex></span>
            </div>
        </md-toolbar>
      <div layout="column" flex style="overflow-y: scroll;">
            <div id="content" ng-view flex></div>
          </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

    <!-- Angular Material Javascript using RawGit to load directly from `bower-material/master` -->
     <script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>

     <!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
       <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/config.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/directives.js"></script>
</body>

</html>
