<div ng-repeat="set in match">


  <md-grid-list ng-show="set.showScore"
  md-cols-sm="1"
  md-gutter-gt-sm="8px"

  md-cols-md="2"
  md-row-height-gt-md="1:1"

  md-row-height="1:1"
  md-cols-gt-md="2"
  md-gutter="12px">

    <md-grid-tile ng-repeat="set in match">
        <md-grid-tile-header>
            <h3 ng-bind="set.description"></h3>
        </md-grid-tile-header>

        <span class="link-digit">{{set.homeScore}}-{{set.visitorScore}}</span>

        <md-grid-tile-header>
          {{set.status}}
        </md-grid-tile-header>

    </md-grid-tile>







</div>
